@use 'var';

.about {
    padding: 2vw 5.6vw;
    min-height: 50vw;
    margin-top: 2.5vw;
    
    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: var.$textColor--default;
            font-size: 22px;
            text-transform: uppercase;
            border: none;
            border-bottom: 5px solid transparent;
            padding-bottom: 5px;
            background: none;
            margin: 0 1vw;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid var.$textColor--default;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    &__list {
        margin-top: 44px;        
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }        
    }
}