@use 'var';

.hero {
    padding: 5.6vw;
    min-height: 90vh;
    background-image: url('../img/matrix-poster.png');
    background-size: cover;   
    
    @media (max-width: 1024px) {
        background-size: contain;
        background-repeat: no-repeat;
        min-width: none;

    }
    
    &__content {
        max-width: 640px;
        height: 78.5vh;        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;        
        color: var.$textColor--default;

        @media (max-width: 768px) {
            height: auto;
            max-width: 100%;
        }
        
        &__branding {                     
            text-transform: uppercase;

            @media (max-width: 768px) {
                max-width: 100%;
                text-transform: capitalize;               
                margin-top: calc(50vw + 8px);
            }

        }

        p {
            margin-top: 64px;                                   
            letter-spacing: 1px;
            
            @media (max-width: 768px) {                
                margin-top: 24px;
                letter-spacing: 0;                
            }
        }
        
        &__info {
            display: flex;
            margin-top: 12px;

            @media (max-width: 768px) {
                margin-top: 16px;
            }
            
            &__item {
                padding: 2px 8px;
                margin-right: 18px;
                font-weight: bolder;
                background-color: #d4d4d4;
                color: var.$textColor--dark;
                border-radius: 2px;

                @media (max-width: 768px) {
                    font-size: 12px;
                    margin-right: 12px;
                }
            }
        }

        &__category {
            display: flex;
            align-items: center;            
            margin-top: 4px;           
            
            &__item {
                
                a { 
                    display: inline-block;                   
                    font-weight: bolder;
                    background-color: #d4d4d4;
                    color: var.$textColor--dark;;
                    border-radius: 2px;                    
                    padding: 2px 8px;
                    margin-right: 18px;                                                  

                    @media (max-width: 768px) {
                        margin-right: 12px;
                        font-size: 12px;
                    }
                }

                img {
                    height: 32px;

                    @media (max-width: 768px) {
                        height: 24px;
                    }
                }
            }
        }

        h3 {
            margin-top: 64px;
        }

        &__links {
            display:flex;                        
            margin-top: 32px;
            
            @media (max-width: 768px) {
                justify-content: space-between;
                margin: 24px 18px
            }
            
                        
            a {
                margin: 24px;                

                img {               
                    max-width: 96px;
                    cursor: pointer;

                    @media (max-width: 768px) {
                        height: 82px;
                    }
                }                
            }
        }        
    }
}