@use 'hero';

@font-face {
    font-family: Amazon Ember;
    src: url('../../assets/fonts/Amazon\ Ember.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Amazon Ember;
    src: url('../../assets/fonts/Amazon\ Ember\ Bold.ttf;');
    font-weight: bold;
}

@font-face {
    font-family: Amazon Ember;
    src: url('../../assets/fonts/Amazon\ Ember\ Light.ttf');
    font-weight: lighter;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    cursor:default;
}

body {
    background-color: #000;   
}